name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install -r src/requirements.txt

      - name: Run tests
        run: pytest -q

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.abhidocker0288 }}
          password: ${{ secrets.T5qaFk6GpeaDGE4xGwpRrU_aN5I }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.abhidocker0288 }}/mlops-pipeline:latest .
          docker push ${{ secrets.abhidocker0288 }}/mlops-pipeline:latest

      
      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > kubeconfig
          export KUBECONFIG=kubeconfig

      - name: Deploy to Kubernetes
        run: kubectl apply -f k8s/








         